@import "tailwindcss";

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("woff2");
    font-weight: 200 800;
    font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: "Plus Jakarta Sans", "sans-serif";

  /* Font Sizes */
  --text-xl: 24px;
  --line-xl: 30px;

  --text-l: 18px;
  --line-l: 23px;

  --text-m: 15px;
  --line-m: 19px;

  --text-s: 12px;
  --line-s: 15px;
}

@theme {
  /* Colors */
  --color-black: #000112;
  --color-very-dark-grey: #20212C;
  --color-dark-grey: #2B2C37;
  --color-medium-grey: #3E3F4E;
  --color-lines-dark: #3E3F4E;
  --color-lines-light: #E4EBFA;
  --color-light-grey: #F4F7FD;
  --color-white: #FFFFFF;

  --color-main-purple: #635FC7;
  --color-main-purple-hover: #A8A4FF;

  --color-red: #EA5555;
  --color-red-hover: #FF9898;
}

/* === Typography Utility Classes === */
.text-heading-xl {
  font-size: var(--text-xl);
  line-height: var(--line-xl);
  font-weight: 700;
}

.text-heading-l {
  font-size: var(--text-l);
  line-height: var(--line-l);
  font-weight: 700;
}

.text-heading-m {
  font-size: var(--text-m);
  line-height: var(--line-m);
  font-weight: 700;
}

.text-heading-s {
  font-size: var(--text-s);
  line-height: var(--line-s);
  letter-spacing: 2.4px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-body-l {
  font-size: 13px;
  line-height: 23px;
  font-weight: 500;
}

.text-body-m {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}